
#form-login{
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    width: 25%;
    height: 250px;
    border-radius: 16px;
    color: aliceblue;
    font-style: inherit;
    justify-content: center;
    
}
input{
    border: none;
    border-radius: 12px;
}
a{
    color: rgb(162, 119, 202);
}

#menu{
    background-color: aqua;
}
#bd-login{
    background-color: rgb(50, 48, 48);
}
